<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= @user.inspect %>

<%= form_with(url: "/upload", method: "post") do |f| %>
	<%= f.file_field :audios, :multiple => true %>
  <%= submit_tag("Send files") %>
<% end %>

<%= form_with(url: "/convert", method: "post") do |f| %>
	<%= select_tag "format", options_for_select([ "aac", "ogg" ], "aac") %>
	<%= select_tag "bitrate", options_for_select([ "192", "128", "96" ], "192") %>
  <%= submit_tag("Convert") %>
<% end %>

<% Hash[@user.originals.zip(@user.converted)].each do | original, converted | %>
<p><%= original %>, <%= converted %>, <%= link_to "Remove", controller: :audio_converter, action: :remove, original: AudioConverterHelper::url_encode(original), converted: AudioConverterHelper::url_encode(converted) %>, <%= link_to_if converted, "Download", controller: :audio_converter, action: :download, audio: AudioConverterHelper::url_encode(converted) %></p>

<% end %>