<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= @user.inspect %>

<%= form_with(url: "/welcome/upload/#{@user.id}", method: "post") do |f| %>
	<%= f.file_field :audios, :multiple => true %>
  <%= submit_tag("Send files") %>
<% end %>

<%= form_with(url: "/welcome/convert/#{@user.id}", method: "post") do |f| %>
	<%= select_tag "format", options_for_select([ "aac", "ogg" ], "aac") %>
  <%= submit_tag("Convert") %>
<% end %>

<% Hash[@user.originals.zip(@user.converted)].each do | original, converted | %>
<p><%= original %>, <%= converted %>, <%= link_to "Remove", controller: :welcome, action: :remove, original: WelcomeHelper::url_encode(original), converted: WelcomeHelper::url_encode(converted) %>, <%= link_to_if converted, "Download", "#{@user.id}/#{converted}" %></p>

<% end %>