<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container has-text-centered">
      <header class="header">
        <h1 class="title">Audio Converter</h1>
      </header>
      <% flash.each do |key, value| %>
        <div class=" notification<%= key %>">
              <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      
    </footer>
  </body>
</html>
