<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header has-text-centered">
      <h1 class="title">Audio Converter</h1>
    </header>  
    <% flash.each do |key, value| %>
      <div class=" notification is-<%= key %> is-pulled-right">
      <button class="delete"></button>
            <%= value %>
      </div>
    <% end %>
    <div class="container main-content has-text-centered">
      <%= yield %>
    </div>
    <footer class="footer has-text-centered">

      <div>Audio Converter: convert audio files to different formats.</div>
      <div>Copyright (C) 2020  nu12.</div>
      <div>Not intended for commercial use.</div>
      <div>
        <a href="https://github.com/nu12/audio_converter">See on Github.</a>
    </footer>
  </body>
</html>
